{
	"root": true,
	"parser": "@typescript-eslint/parser",
	"plugins": ["@typescript-eslint", "no-loops", "prettier"],
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/eslint-recommended",
		"plugin:@typescript-eslint/recommended",
		"prettier"
	],
	"rules": {
		"prettier/prettier": ["error"],
		"no-console": "off",
		"import/prefer-default-export": "off",
		"@typescript-eslint/no-unused-vars": "warn",
		"no-loops/no-loops": "off"
	},
	"env": {
		"node": true
	},
	"ignorePatterns": [
		"src/**/*.test.ts",
		"src/test",
		"src/frontend/generated/*",
		"dist",
		"**/*.js"
	]
}
